In [83]:
import pandas as pd
table = pd.read_csv("C:/Users\Vikas\Downloads\data.csv")
table.head()

   Person Id Floor Access DateTime  Floor Level Building
0          1          10/1/15 8:02            6        B
1          2          10/1/15 8:02            5        C
2          3          10/1/15 8:03            1        C
3          4          10/1/15 8:04            9        A
4          5          10/1/15 8:04            6        B

In [84]:
# changig datatype for person_id
table['Person Id']= table['Person Id'].astype(str)

In [85]:
def json_converter(data):
    dict = {
        "person_id": data['Person Id'],                     
        "datetime": data['Floor Access DateTime'],
        "floor_level": data['Floor Level'],
        "building":data['Building']
       }
    return dict

In [86]:
dict={}  
dict=table.apply(lambda x: json_converter(x),axis= 1)

In [90]:
dict[0:10]

0    {'person_id': '1', 'datetime': '10/1/15 8:02',...
1    {'person_id': '2', 'datetime': '10/1/15 8:02',...
2    {'person_id': '3', 'datetime': '10/1/15 8:03',...
3    {'person_id': '4', 'datetime': '10/1/15 8:04',...
4    {'person_id': '5', 'datetime': '10/1/15 8:04',...
5    {'person_id': '6', 'datetime': '10/1/15 8:07',...
6    {'person_id': '7', 'datetime': '10/1/15 8:07',...
7    {'person_id': '8', 'datetime': '10/1/15 8:07',...
8    {'person_id': '9', 'datetime': '10/1/15 8:07',...
9    {'person_id': '10', 'datetime': '10/1/15 8:14'...
dtype: object

In [91]:
dict[1]

{'person_id': '2',
 'datetime': '10/1/15 8:02',
 'floor_level': 5,
 'building': 'C'}